<footer>
  <div class="f-info">
    <div class="f-inf0-socials">
      <a><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/ap__abhiii/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/satyam-poddar-29oct2005"
        ><i class="fa-brands fa-square-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
